@import '../config/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

html {
	font-size: 100%;
} /*16px*/

body {
	background: white;
	font-family: $primary-font;
	font-weight: 400;
	line-height: 1.75;
	color: #000000;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: $primary-font;
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size;
}

h3 {
	font-size: $h3-size;
}

h4 {
	font-size: $h4-size;
}

h5 {
	font-size: $h5-size;
}

small,
.text_small {
	font-size: $p-size;
}

// lyon
@font-face {
	font-family: 'Lyon Display Web';
	src: url('../fonts/Lyon-Display-Web.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGrotesk Std';
	src: url('../fonts/NeueHaasGrotesk-Std.otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
