// Main colors

$primary-color : #0062FF;
$primary-color-variant: #3F50EE;

$secondary-color: #0D47A1;
$secondary-color-variant: #02236C;


$background-color: #FFFFFF;
$background-color-variant: #000000;
$surface-color: #FDF9F9;
$error-color: #B00020;


$on-primary-color: #000000;
$on-secondary-color: #FFFFFF;

$on-background-color: #000000;
$on-surface-color: #FFFFFF;
$on-error-color: #FFFFFF;

// Main typefaces

$primary-font:'NeueHaasGroteskText Std';
$secondary-font: 'Lyon Display Web';
$tertiary-font: 'Federo', sans-serif;

// Screen Sizes

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


// Text sizes

$h1-size: 11.089rem;
$h2-size: 6.854rem;
$h3-size: 4.236rem;
$h4-size: 2.618rem;
$h5-size:  28px;
$p-size: 20px;;

// Z-Indexes  Specificity

$z-layers: (
	'super': 999999,
	'cursor': 10000,
	'modal': 9000,
	'on-header': 2000,
	'site-header': 1000,
	'site-content': 100,
	'site-footer': 1000,
	'site-background': -10,
);
