@import '../config/index.scss';

header {
	width: 100%;
	position: absolute;
	z-index: 10;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0.6;
		height: 400px;
		z-index: -1;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 10%,
			rgba(255, 255, 255, 0) 100%
		);
	}

	.header-content {
		display: flex;
		justify-content: space-between;

		img {
			max-width: 220px;
		}

		ul {
			align-self: center;
			margin-bottom: 0;
			padding: 0;
			display: flex;

			li {
				&:not(:last-child) {
					margin-right: 100px;
				}

				align-self: center;

				a {
					color: $primary-color;
					font-family: $secondary-font;
					font-size: 19px;
					font-weight: 500;
					line-height: 20px;
				}

				.primary-contained-button {
					color: white;

					&:focus {
						color: white;
					}
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}
